* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: url("../img/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

h1 {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 5em;
    color: #D38B08;
    margin-bottom: 40px;
}

.icono-menu-principal {
    font-size: 0.9em;
}

.animate__animated.animate__bounce {
    --animate-duration: 18s;
    --animation-timing-function: ease;
    --animation-delay: 0s;
    --animation-iteration-count: infinite;
    --animation-direction: normal;
    --animation-fill-mode: both;
    --animation-play-state: running;
}

.tarjeta-menu h2 {
    font-family: 'Oleo Script Swash Caps', cursive;
    color: #D38B08;
    text-align: center;
}

.tarjeta-menu p {
    font-family: 'DIN1451W01-Mittelschrif', cursive;
    text-align: center;
}

.fila-precio {
    /* width: 12rem; */
    border: thin dashed #D38B08;
    border-width: 2px;
    border-radius: 8px;
    box-shadow: 5px 10px 18px #888888;
}

.col-precios {
    border-right: thin dashed #D38B08;
    border-width: 2px;
}

.precio {
    font-weight: normal;
    font-size: 1em;
}

.numero {
    background-image: url(../img/icono-precio.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 25px;
}

@media screen and (max-width: 990px) {
    .precio {
        font-size: 0.7rem;
    }
}

header {
    width: 100%;
    height: 82px;
    padding: 10px;
    position: fixed;
    background-image: url("https://image.freepik.com/foto-gratis/textura-madera-vieja_88281-3812.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 200000;
}

nav {
    width: 100%;
    height: 50px;
    padding: 5px;
    margin-left: 150px;
    font-family: 'DIN1451W01-Mittelschrif', cursive;
    text-transform: uppercase;
}

nav ul {
    max-width: 590px;
    width: 100%;
    margin: auto;
    padding-top: 10px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
}

@media screen and (max-width: 850px) {
    nav ul {
        width: 100px;
        display: block;
        position: absolute;
        right: -15px;
        top: 90px;
        background-color: rgba(255, 255, 255, 0.9);
        border: solid 1px #2e1a01;
        border-radius: 5px;
    }
}

nav li a {
    text-decoration: none;
    font-size: 1.2em;
    text-align: center;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    padding: 5px;
    display: block;
    color: white;
    position: relative;
}

nav li a:hover {
    color: #f0ab02;
    letter-spacing: 2px;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

nav li a:hover:before {
    width: 50%;
    -webkit-transform: translate(100%);
    -ms-transform: translate(100%);
    transform: translate(100%);
}

nav li a:hover:after {
    width: 50%;
}

nav li a b {
    display: none;
    width: 30px;
    height: 30px;
}

nav li a span {
    display: block;
}

@media screen and (max-width: 850px) {
    nav li a {
        margin: 10px;
    }
    nav li a span {
        display: none;
    }
    nav li a b {
        display: block;
        color: #2e1a01;
    }
}

.logo-fixed {
    width: 100%;
    max-width: 200px;
    position: absolute;
    left: 40px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 100;
}

.logo {
    width: 100%;
    padding-top: 10px;
}

@media screen and (max-width: 800px) {
    .logo-fixed {
        left: 0;
        max-width: 150px;
        top: 25px;
    }
    .logo {
        width: 120%;
        padding-top: 50px;
    }
}

.banner-principal {
    width: 100%;
    height: 850px;
    overflow: hidden;
    position: relative;
}

.banner-principal img {
    width: 100%;
    margin-top: 82px;
}

@media screen and (max-width: 1250px) {
    .banner-principal {
        height: 550px;
        padding-top: 20px;
    }
    .banner-principal img {
        width: 100%;
        margin-top: 62px;
    }
}

@media screen and (max-width: 850px) {
    .banner-principal {
        height: 350px;
        padding-top: 20px;
    }
}

.fila-menu {
    max-width: 1040px;
    margin: auto;
}

.titulosmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* height: 100px; */
    font-family: Pompiere, cursive;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

.titulosmenu a {
    display: table;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    color: #512f03;
    border: thin dashed #3A3939;
    border-radius: 3px;
    background-color: white;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

.titulosmenu a h3 {
    margin: 0px;
}

.titulosmenu a:hover {
    background-color: #D38B08;
    text-decoration: none;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    color: white;
}

a.activo {
    background-color: #D38B08;
    color: white;
}

.salto-menu {
    padding-bottom: 50px;
}

.desc-equipo h1 {
    margin: auto;
    text-align: center;
    padding-bottom: 80px;
    font-size: 4rem;
}

.desc-nosotros h1 {
    margin: auto;
    text-align: center;
    padding-bottom: 40px;
    font-size: 4rem;
}

.ubicacion h1 {
    margin: auto;
    text-align: center;
    font-size: 4rem;
}

.texto-principal {
    width: 100%;
    max-width: 600px;
    position: absolute;
    z-index: 100;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 100px;
}

.texto-principal h1 {
    line-height: 80px;
    font-size: 4rem;
}

.texto-principal p {
    margin-top: 25px;
    font-family: 'Pompiere', cursive;
    font-size: 3em;
    color: white;
}

.texto-principal a {
    padding: 10px;
    display: table;
    color: white;
    text-decoration: none;
    border: 1px solid #ffffff;
    margin-top: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    border-radius: 5px;
}

.texto-principal a:hover {
    background-color: #D38B08;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    border: 1px solid #D38B08;
}

@media screen and (max-width: 1050px) {
    .texto-principal {
        margin-left: 50px;
        top: 30%;
    }
    .texto-principal h1 {
        font-size: 3rem;
        line-height: 50px;
        margin-top: 250px;
    }
    .texto-principal p {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 850px) {
    .desc-equipo h1 {
        font-size: 3rem;
    }
    .desc-nosotros h1 {
        font-size: 3rem;
    }
    .texto-principal {
        margin-left: 50px;
        top: 40%;
    }
    .texto-principal h1 {
        font-size: 3rem;
        line-height: 50px;
        margin-top: 100px;
    }
    .texto-principal p {
        font-size: 1.7rem;
    }
}

.texto-container p {
    font-family: Pompiere, cursive;
    text-align: center;
    font-size: 30px;
}

@media screen and (max-width: 850px) {
    .texto-container p {
        display: block;
        font-size: 2rem;
    }
}

.texto-container a {
    text-decoration: none;
    padding: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 16px;
    border: 1px solid #352400;
    border-radius: 5px;
    display: table;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #352400;
    background-color: white;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

.texto-container a:hover {
    background-color: #D38B08;
    color: white;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    border: 1px solid #D38B08;
}

.footer {
    width: 100%;
    color: white;
    background-color: #1E1E1E;
    font-size: 1.2rem;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
    letter-spacing: 1px;
}

.footer a {
    color: white;
}

.ft h2 {
    font-family: 'Oleo Script Swash Caps', cursive;
    padding-top: 25px;
    color: #D38B08;
}

.ft p {
    margin-bottom: 0px;
    padding: 0px;
}

.ft h2 {
    font-family: 'Oleo Script Swash Caps', cursive;
    padding-top: 25px;
    color: #D38B08;
}

.ft p {
    margin-bottom: 0px;
    padding: 0px;
    font-size: 1.3rem;
}

.ft a:hover {
    text-decoration: none;
    color: #D38B08;
}

.redes {
    margin-top: 40px;
    font-size: 2em;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
}

.redes a {
    color: white;
    display: block;
    margin: 5px;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

.redes a:hover {
    color: #D38B08;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

@media screen and (max-width: 800px) {
    .redes {
        right: 50px;
    }
}

@media screen and (max-width: 800px) {
    .footer {
        font-size: 1rem;
    }
}

.wp {
    width: 90px;
    height: 90px;
    position: fixed;
    z-index: 1000;
    bottom: 70px;
    right: 70px;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    -webkit-animation: whatsapp 5s infinite;
    animation: whatsapp 5s infinite;
}

.wp p {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    margin-bottom: 5px;
    color: #D38B08;
    text-align: center;
    font-size: 15px;
}

.wp a:hover {
    text-decoration: none;
}

.wp:hover {
    bottom: 90px;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

@media screen and (max-width: 800px) {
    .wp {
        width: 70px;
        height: 70px;
        right: 40px;
    }
}

@-webkit-keyframes whatsapp {
    0% {
        bottom: 70px;
    }
    50% {
        bottom: 90px;
    }
    100% {
        margin-top: 70px;
    }
}